@use "../util/" as *;

.hero {
   background: url("../assets/images/hero-bg.png");
   background-size: cover;
   background-position: bottom center;
   padding-block: 0rem;
   @include breakpoint-down(sm) {
      background: url("../assets/images/hero-bg-mobile.png");
      background-size: cover;
      background-position: bottom center;
   }
}

.hero-container {
   padding-block: rem(150) rem(220);
   display: grid;
   color: white;
   text-align: center;
   gap: rem(40);
   @include breakpoint-down(lg) {
      padding-block: rem(100) rem(150);
   }
   @include breakpoint-down(sm) {
      padding-block: rem(60) rem(116);
   }
}

.hero__title {
   font-weight: 600;
   font-size: rem(102);
   line-height: rem(102);
   text-align: center;
   @include breakpoint-down(lg) {
      font-size: rem(70);
      line-height: rem(73);
   }
   @include breakpoint-down(sm) {
      font-size: rem(60);
      line-height: rem(65);
   }
}

.hero__description {
   font-size: rem(18);
   line-height: rem(28);
   max-width: rem(654);
   font-weight: 300;
   text-align: center;
   margin-inline: auto;
   margin-block-end: rem(10);
}

.hero__buttons--button {
   position: relative;
   width: rem(200);
   display: inline-block;
   color: var(--blue);
   padding-block: rem(13);
   margin-inline: rem(12);
   border-radius: 100px;
   overflow: visible;
   transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
   &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
   }
   &:active:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
   }
   @include breakpoint-down(sm) {
      display: block;
      margin-inline: auto;
   }
   &:first-child {
      @include breakpoint-down(sm) {
         margin-block-end: rem(20);
      }
   }
}

.build-with-us {
   background: var(--green);
}

.partner-with-us {
   background: white;
}
